<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <h1>worldroulette item editor</h1>
    <button class="syncitemswithdb">Синхронизация с БД (только для админа)</button>
    <div class="itemEditor" style="display: none;">
        <h5>Edit item</h5>
        <h1 class="itemName"></h1>
        <div class="itemImage"></div>
        <div>
            <textarea class="itemDescription"></textarea>
        </div>
        Цвет лазера: <input type="text" class="itemLaserColor"><br>
        Цена в GG: <input type="text" class="itemPrice">
        <div class="itemSliders">
            Падает? <input type="text" class="dropStatus">
            Макс. использований: <input type="number" max="200" min="0" class="maxUses">
            <br>
            🍀 Удача: <input type="checkbox" class="luckStatus"><input type="range" min="-1.5" max="1.5" step="0.01" value="0" class="luck"><span class="luckVal">0</span>
            <br>
            🛡 Защита: <input type="checkbox" class="defenceStatus"><input type="range" min="-1.5" max="1.5" step="0.01" value="0" class="defence"><span class="defenceVal">0</span>
            <br>
            ⚙️ Эффективность: <input type="checkbox" class="efficiencyStatus"><input type="range" min="-1.5" max="1.5" step="0.01" value="0" class="efficiency"><span class="efficiencyVal">0</span>
            <br>
            🔋 Емкость: <input type="checkbox" class="capacityStatus"><input type="range" min="-1.5" max="1.5" step="0.01" value="0" class="capacity"><span class="capacityVal">0</span>
            <br>
            🔌 Энергосбережение: <input type="checkbox" class="power_savingStatus"><input type="range" min="-1.5" max="1.5" step="0.01" value="0" class="power_saving"><span class="power_savingVal">0</span>
            <br>
        </div>
        <div class="buttons">
            <button class="saveButton">Сохранить</button>
        </div>
    </div>
    <table id="tbl" class="table table-bordered"></table>

    <script>
        const tableEl = $('#tbl');
        const statList = ['luck', 'defence', 'efficiency', 'capacity', 'power_saving', 'laser_color']
        let table;
        let items;
        let filteredItems;

        function initSliders() {
            $('input[type="range"]').on('mousemove touchmove', e => {
                let that = $(e.target)[0];
                $(`.${that.classList[0]}Val`).text(that.value);
            }).change(e => {
                let that = $(e.target)[0];
                $(`.${that.classList[0]}Val`).text(that.value);
                $(`.${that.classList[0]}Status`).prop('checked', true);
            })
        }

        function setSlider(stat, val, doNotCheck) {
            $(`.${stat}`).val(val);
            $(`.${stat}Val`).text(val);
            $(`.${stat}Status`).prop('checked', !doNotCheck);
        }

        async function start() {
            const res = await fetch('/listitems');
            items = await res.json();

            const header = Object.keys(items[0]);

            const headerEl = $(`<thead></thead>`).appendTo(tableEl)
            const headerRowEl = $(`<tr></tr>`).appendTo(headerEl);
            header.forEach(val => {
                headerRowEl.append(`<th>${val}</th>`)
            })


            rebuild()
            initSliders()
            //console.log(json)
        }

        async function rebuild() {
            const itemList = {};
            for (item of items) {
                itemList[item.id] = item;
            }
            filteredItems = Object.values(itemList)

            table = $('#tbl').DataTable({
                data: filteredItems,
                columns: [{
                        data: 'id'
                    },
                    {
                        data: 'name_ru'
                    },
                    {
                        data: 'name_en'
                    },
                    {
                        data: 'rarity',
                        render: data => `<p data-item-rarity="${data}">${data}</p>`
                    },
                    {
                        data: 'cost'
                    },
                    {
                        data: 'price'
                    },
                    {
                        data: 'drops'
                    },
                    {
                        data: 'stats'
                    },
                    {
                        data: 'uses'
                    },
                    {
                        data: 'description_ru'
                    },
                    {
                        data: 'laser_color'
                    }
                ]
            });

            $('#tbl tbody').on('click', 'tr', function() {
                itemEditor(table.row(this).data().id);
            });
        }

        function disableEditor() {
            console.log('Editor disabled!')
            $('.itemEditor').fadeOut(500);
            $('.itemImage').empty()
            clearEditor();
        }

        function clearEditor() {
            console.log('Editor cleared!')
            $('.itemImage').children().eq(0).remove()
            resetSliders();
            $('.saveButton').off('click')
        }

        function resetSliders() {
            statList.forEach(statName => setSlider(statName, 0, true))
        }

        async function itemEditor(itemId) {
            const item = items.filter(el => el.id == itemId)[0]

            $('.itemEditor').show()
            $('.itemName').text(item.name_ru);
            $('.itemImage').append(`<img class="item" src="https://worldroulette.ru/assets/sprites/Item_${item.id}.png">`)
            $('.itemDescription').val(item.description_ru);
            $('.itemLaserColor').val(item.laser_color);
            $('.itemPrice').val(item.price);
            $('.dropStatus').val(item.drops);
            $('.maxUses').val(item.uses)

            setTimeout(e => {
                item.stats.split('&').forEach(stat => {
                    statName = stat.split('=')[0];
                    statVal = parseFloat(stat.split('=')[1])

                    if (statName != '')
                        setSlider(statName, statVal)
                });

                $('.saveButton').click(async function(e) {
                    let stats = {};
                    let itemId = parseInt(item.id);

                    statList.forEach(statName => {
                        if ($(`.${statName}Status`).prop('checked'))
                            stats[statName] = $(`.${statName}`).val()
                    })


                    let newItem = {
                        id: parseInt(item.id),
                        description_ru: $('.itemDescription').val(),
                        laser_color: $('.itemLaserColor').val(),
                        price: $('.itemPrice').val(),
                        stats: encodeObjectToURL(stats),
                        drops: $('.dropStatus').val(),
                        uses: $('.maxUses').val()
                    }



                    let f = await fetch('/updateitem', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(newItem)
                    })
                    let r = await f.text();



                    let index = filteredItems.findIndex(el => el.id == itemId);
                    mergeItems(filteredItems[index], newItem);

                    table.row(index).data(filteredItems[index]).draw(false);

                    if (r == 'ok')
                        disableEditor()
                })
            }, 50)

            addEditorExitHandler();
        }

        function mergeItems(item1, item2) {
            item2Keys = Object.keys(item2);
            item2Keys.forEach(key => {
                if (item2[key] !== null)
                    item1[key] = item2[key];
            })
        }

        function addEditorExitHandler() {
            setTimeout(e => {
                $(document).one('click', function(event) {
                    if (!$(event.target).closest('.itemEditor').length && !$(event.target).closest('table').length)
                        disableEditor();
                    else if ($(event.target).closest('table').length > 0)
                        clearEditor()
                    else
                        addEditorExitHandler()
                });
            }, 200)
        }

        function encodeObjectToURL(obj) {
            var str = [];
            for (var p in obj)
                if (obj.hasOwnProperty(p))
                    str.push(p + "=" + obj[p]);

            return str.join("&");
        }

        $('.syncitemswithdb').click(async e => {
            let r = await fetch('/syncitemswithdb', {
                method: 'POST'
            })
            let t = await r.text();
            alert(t)
        })

        start();
    </script>

    <style>
        tbody tr {
            background: #333 !important;
            color: #fff;
        }

        .itemEditor {
            position: fixed;
            width: 50vw;
            background: #333;
            z-index: 555;
            color: #aaa;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 0;
            max-height: 100vh;
            overflow-x: auto;
        }

        .itemDescription {
            width: 100%;
        }

        #tbl {
            width: 100%
        }

        img.item {
            height: 100%;
            margin: 0 auto;
            display: block;
        }

        .itemImage {
            height: 20em;
            image-rendering: pixelated;
        }

        .itemName {
            text-align: center;
        }

        .itemSliders {
            font-size: 3em;
        }

        .saveButton {
            background: #0f0;
            border: 1px solid #000;
            margin: 0 auto;
            display: block;
            font-size: 3em;
        }
    </style>
    <style>
        /* colored items */
        [data-item-rarity="-1"] {
            color: #6c6c6c;
        }

        [data-item-rarity="0"] {
            color: #f6f6f6;
        }

        [data-item-rarity="1"] {
            color: #8c87c4;
        }

        [data-item-rarity="2"] {
            color: #a8eaa4;
        }

        [data-item-rarity="3"] {
            color: #deb998;
        }

        [data-item-rarity="4"] {
            color: #e19696;
        }

        [data-item-rarity="5"] {
            color: #ee9aef;
        }

        [data-item-rarity="6"] {
            color: #b996d4;
        }

        [data-item-rarity="7"] {
            color: #98e427;
        }

        [data-item-rarity="8"] {
            color: #eeef44;
        }

        [data-item-rarity="9"] {
            color: #1bbcec;
        }

        [data-item-rarity="10"] {
            color: #bc174a;
        }

        [data-item-rarity="11"] {
            color: #963ec4;
        }

        [data-item-rarity="12"],
        [data-item-rarity="-12"] {
            color: #ff0000;
            animation: gradient 4s steps(36) infinite;
        }

        [data-item-rarity="13"],
        [data-item-rarity="-11"] {
            color: #dea62c;
        }

        [data-item-rarity="14"] {
            animation: glowingRed 2s steps(18) infinite;
        }
    </style>
</body>