<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="darkTheme leftBar">
    <div class="tooltip" v-if="tooltip.land || tooltip.user || tooltip.item || tooltip.baseItem || tooltip.clan" :style="{left: tooltip.position.x, top: tooltip.position.y}" class="tooltip">
        <div v-if="tooltip.land" v-for="land in [map.paths[tooltip.land]]">
            <div>
                <interactive-land v-bind:code="tooltip.land"></interactive-land> [{{tooltip.land}}]
            </div>
            <div>
                <interactive-user v-bind:user="users[land.owner]"></interactive-user> [{{land.owner}}]
            </div>
            <div v-if="users[land.owner].clan">
                <interactive-clan v-bind:clan="clans[users[land.owner].clan]"></interactive-clan> [{{users[land.owner].clan}}]
            </div>
            <div>Защита: {{land.power}}</div>
        </div>
        <div v-if="tooltip.user" v-for="user in [users[tooltip.user]]">
            <div>
                <interactive-user v-bind:user="user"></interactive-user> [{{user.id}}]
            </div>
            <div v-if="permissions.admins.includes(user.id)"><small class="user-admin">Админ</small></div>
            <div v-else-if="permissions.moderators.includes(user.id)"><small class="user-moderator">Модератор</small></div>
            <div><small :style="{color: ranks[user.rank].color}">{{ranks[user.rank].rankName}} ({{user.totalsp}}/{{ranks[user.rank + 1].score}})</small></div>
            <div v-if="user.clan !== null">
                <small>
                    <interactive-clan v-bind:clan="clans[user.clan]"></interactive-clan>
                </small>
            </div>
            <div>Онлайн: {{Math.floor(user.online / (60 * 60))}} ч.</div>
            <div>Баланс: {{user.balance}} <span class="iconify" data-icon="fa:gg"></span></div>
            <div>Сообщений: {{user.messages}}</div>
        </div>
        <div v-if="tooltip.baseItem">
            <div>
                <interactive-item v-bind:item="items[tooltip.item]" v-bind:base-item="baseItems[tooltip.baseItem]"></interactive-item> <span v-if="tooltip.item">[{{tooltip.item}}]</span>
            </div>
            <div><small :class="{['item-rarity-' + baseItems[tooltip.baseItem].rarity]: true}">Редкость: {{baseItems[tooltip.baseItem].rarity}}</small></div>
            <p>{{baseItems[tooltip.baseItem].description}}</p>
            <p>
                <div v-for="(statValue, statName) in baseItems[tooltip.baseItem].stats" v-if="statTranslations.hasOwnProperty(statName)">
                    {{statTranslations[statName]}}: {{statValue * 100}}%
                </div>
            </p>
            <div v-if="tooltip.item">Прочность: {{items[tooltip.item].uses}}/{{baseItems[tooltip.baseItem].maxUses}}</div>
            <div v-if="tooltip.item">Получен: {{(new Date(items[tooltip.item].timeGot)).toLocaleDateString()}} в {{(new Date(items[tooltip.item].timeGot)).toLocaleTimeString()}}</div>
            <div v-if="tooltip.item">Владелец: <interactive-user v-bind:user="users[items[tooltip.item].owner]"></interactive-user>
            </div>
        </div>
        <div v-if="tooltip.clan">
            <div><span :class="{['clan-color-' + tooltip.clan.id % 5]: true}">{{tooltip.clan.name}}</span> [{{tooltip.clan.id}}]</div>
            <div>Цвет: <span :style="{color: tooltip.clan.color}">{{tooltip.clan.color}}</span></div>
            <div>Владелец: <interactive-user v-bind:user="users[tooltip.clan.owner]"></interactive-user>
            </div>
            <div>Запросов: {{tooltip.clan.requests.length}}</div>
        </div>
    </div>
    <div class="popUpMenu">
        <div class="opaqueFiller" v-if="menu.user || menu.settings || menu.clan || menu.inventory || menu.shop || menu.notifications" @click="methods.hideMenus()">
        </div>
        <div class="userMenu" v-if="menu.user">
            <button @click="methods.hideMenus()" class="hideMenuButton">x</button>
            <h2>Профиль <span class="iconify" data-icon="mdi:account-settings-variant"></span></h2>
            <div>Имя: <input v-model="editUser.name" :class="{ok: isEditNameValid, error: !isEditNameValid}" /><button @click="saveValue('name')" :disabled="!isEditNameValid">Сохранить</button></div>
            <div>Цвет:
                <Verte style="display: inline" v-model="editUser.color" model="hex" :enableAlpha="false">
                    <input :style="{background: editUser.color, color: contrastingColor}" v-model.lazy="editUser.color" />
                </Verte>
                <button @click="saveValue('color')" :disabled="!isEditColorValid">Сохранить</button>
            </div>
            <div>Emoji: <input v-model="editUser.emoji" /><button @click="saveValue('emoji')" :disabled="!isEditEmojiValid">Сохранить</button></div>
            <button @click="logout">Выйти</button>
        </div>
        <div class="settingsMenu" v-if="menu.settings">
            <button @click="methods.hideMenus()" class="hideMenuButton">x</button>
            <h2>Настройки сайта <span class="iconify" data-icon="mdi:settings-outline"></span></h2>
            <div>Тема: {{settings.lightTheme ? 'Светлая' : 'Темная'}} <button @click="toggleTheme">Сменить</button></div>
            <div>Фон: {{settings.easierMapBackground ? 'Простой' : 'Сложный'}} <button @click="toggleMapBackground">Сменить</button></div>
            <div>Меню: {{settings.barSide ? 'Справа' : 'Слева'}} <button @click="toggleBarSide">Переключить</button></div>
            <div>Режим карты: {{mapModeName}} <button @click="changeMapMode">Переключить</button></div>
            <div v-if="settings.mapMode === 3">
                <div>Союзники:
                    <Verte style="display: inline" v-model="settings.mapColor.friendly" model="hex" :enableAlpha="false">
                        <input :style="{background: settings.mapColor.friendly, color: contrastingColorFriendly}" v-model.lazy="settings.mapColor.friendly" />
                    </Verte>
                </div>
                <div>Враги:
                    <Verte style="display: inline" v-model="settings.mapColor.enemy" model="hex" :enableAlpha="false">
                        <input :style="{background: settings.mapColor.enemy, color: contrastingColorEnemy}" v-model.lazy="settings.mapColor.enemy" />
                    </Verte>
                </div>
            </div>
            <div>Яркость {{settings.brightness}}% <input type="range" v-model="settings.brightness"></input></div>
            <div>Громкость {{settings.volume}}% <input type="range" v-model="settings.volume"></input></div>
        </div>
        <div class="clanMenu" v-if="menu.clan" v-for="user in [users[me]]">
            <button @click="methods.hideMenus()" class="hideMenuButton">x</button>
            <h2>Кланы <span class="iconify" data-icon="mdi:account-group"></span></h2>
            <div v-if="user.clan === null">
                <h3>Новый клан</h3>
                <div>Название: <input v-model="newClan.name" /></div>
                <div>Цвет: <Verte style="display: inline" v-model="newClan.color" model="hex" :enableAlpha="false">
                        <input :style="{background: newClan.color, color: newClanContrastingColor}" v-model.lazy="newClan.color" placeholder="Цвет" />
                    </Verte>
                </div>
                <button @click="createClan" :disabled="!newClanValid">Создать</button>
                <h2>Поиск клана</h2>
                <input v-model="searchClan" placeholder="Название или ID"></input>
                <div>
                    <div v-for="clan in foundClans">
                        <interactive-join-clan v-bind:clan="clan"></interactive-join-clan>
                    </div>
                </div>
            </div>
            <div v-if="user.clan !== null">
                <h3>В клане</h3>
                <h4>Сокланы:</h4>
                <div v-for="clanMate in users" v-if="clanMate.clan === user.clan">
                    <interactive-user v-bind:user="clanMate"></interactive-user>
                    <button @click="kickUser(clanMate.id)" v-if="clans[user.clan].owner === user.id">Исключить</button>
                </div>
                <button @click="leaveClan">Выйти из клана</button>
            </div>
            <div v-if="user.clan !== null && clans[user.clan].owner === user.id">
                <h3>Владелец клана</h3>
                <div>Название: <input v-model="editClan.name" :class="{ok: isEditNameValid, error: !isEditNameValid}" /><button @click="saveValue('name')" :disabled="!isEditNameValid">Сохранить</button></div>
                <div>Цвет:
                    <Verte style="display: inline" v-model="editClan.color" model="hex" :enableAlpha="false">
                        <input :style="{background: editClan.color, color: editClanContrastingColor}" v-model.lazy="editClan.color" />
                    </Verte>
                    <button @click="saveValue('color')" :disabled="!isEditColorValid">Сохранить</button>
                </div>
                <div v-for="userId in clans[user.clan].requests" v-if="users[userId].clan === null">
                    <interactive-user v-bind:user="users[userId]"></interactive-user>
                    <button @click="acceptRequest(userId)">Принять</button>
                    <button @click="rejectRequest(userId)">Отклонить</button>
                </div>
                <div><button @click="shareClan">Пригласить в чате</button></div>
                <div><button @click="removeClan">Удалить клан</button></div>
            </div>
        </div>
        <div class="inventoryMenu" v-if="menu.inventory">
            <button @click="methods.hideMenus()" class="hideMenuButton">x</button>
            <h2>Инвентарь <span class="iconify" data-icon="mdi:diamond-stone"></span></h2>
            <div>Баланс: {{users[me].balance}} <span class="iconify" data-icon="fa:gg"></span></div>
            <h3>Статистика</h3>
            <div v-for="stat in statValues">
                {{stat.name}} - {{stat.value}}
            </div>
            <h3>Предметы</h3>
            <div class="inventoryItems">
                <interactive-inventory-item v-for="ownItem in inventory" v-bind:key="ownItem.id" v-bind:item="ownItem" v-bind:base-item="baseItems[ownItem.baseItem]"></interactive-inventory-item>
            </div>
            <div v-if="selectedItem">
                <h3>Выбранный предмет</h3>
                <interactive-selected-item v-bind:item="items[selectedItem]" v-bind:base-item="baseItems[items[selectedItem].baseItem]"></interactive-selected-item>
                <button class="small" @click="selectedItem = null">Закрыть</button>
            </div>
        </div>
        <div class="shopMenu" v-if="menu.shop">
            <button @click="methods.hideMenus()" class="hideMenuButton">x</button>
            <h2>Магазин <span class="iconify" data-icon="mdi:cash-register"></span></h2>
            <div>Баланс: {{users[me].balance}} <span class="iconify" data-icon="fa:gg"></span></div>
            <form method="post"
                :action="`https://auth.robokassa.ru/Merchant/Index.aspx?MerchantLogin=worldroulette&InvoiceID=0&Culture=ru&Encoding=utf-8&Description=Покупка игровой валюты&DefaultSum=100&shp_uid=${me}&SignatureValue=${shopSignature}`"
                target="_blank">
                <input type="text" name="FreeOutSum" value="100" maxlength="10" /><span class="iconify" data-icon="mdi:currency-rub"></span>
                <button type="submit">Пополнить</button><br>
                <small>1 <span class="iconify" data-icon="mdi:currency-rub"></span> = 4 <span class="iconify" data-icon="fa:gg"></span></small>
            </form>
            <h3>Предметы</h3>
            <div v-for="itemId in shop">
                <interactive-shop-item v-bind:base-item="baseItems[itemId]"></interactive-shop-item>
            </div>
        </div>
        <div class="notificationMenu" v-if="menu.notifications">
            <button @click="methods.hideMenus()" class="hideMenuButton">x</button>
            <h2>Уведомления <span class="iconify" data-icon="mdi:calendar-text-outline"></span></h2>
            <button @click="clearNotifications">Очистить <span class="iconify" data-icon="mdi:notification-clear-all"></span></button>
            <transition-group name="notification" tag="div">
                <div v-for="notification of notifications" v-bind:key="notification.id" class="notification" :class="{['notification-'+notification.type]: true}">
                    "{{notification.text}}" получено <interactive-date v-bind:date="notification.date"></interactive-date>
                </div>
            </transition-group>
        </div>
    </div>
    <div class="container">
        <div class="bar">
            <div class="menu">
                <div class="online">
                    <span v-if="isOnline">🌐
                        <span v-for="onlineRecord in online">
                            {{onlineRecord.device === 'desktop' ? '💻' : '📱'}}
                            <interactive-user v-bind:user="users[onlineRecord.user]"></interactive-user>
                        </span>
                    </span>
                    <span v-if="!isOnline">🚫</span>
                </div>
                <div class="menuButtons">
                    <button v-if="me !== 10" @click="menu.show('user')">Профиль <span class="iconify" data-icon="mdi:account-settings-variant"></span></button>
                    <button @click="menu.show('settings')">Настройки <span class="iconify" data-icon="mdi:settings-outline"></span></button>
                    <button v-if="me !== 10" @click="menu.show('clan')">Кланы <span class="iconify" data-icon="mdi:account-group"></span></button>
                    <button v-if="me !== 10" @click="menu.show('inventory')">Инвентарь <span class="iconify" data-icon="mdi:diamond-stone"></span></button>
                    <button v-if="me !== 10" @click="menu.show('shop')">Магазин <span class="iconify" data-icon="mdi:cash-register"></span></button>
                    <button @click="menu.show('notifications')">Уведомления <span class="iconify" data-icon="mdi:calendar-text-outline"></span></button>
                </div>
                <button class="rollButton" :disabled="isDisabled" @click="roll">{{rollButtonText}}</button>
                <div class="giveLand">
                    <input v-model="giveLandUserId"></input>
                    <button :disabled="isDisabled" @click="giveLand">Передать (20 <span class="iconify" data-icon="fa:gg"></span>)</button>
                </div>
                <audio ref="audio" class="soundEmitter1" autoplay="true"></audio>
                <audio ref="audio" class="soundEmitter2" autoplay="true"></audio>
                <audio ref="audio" class="soundEmitter3" autoplay="true"></audio>
                <audio ref="audio" class="soundEmitter4" autoplay="true"></audio>
                <audio ref="audio" class="soundEmitter5" autoplay="true"></audio>
                <div class="auth" v-if="me === 10">
                    <input v-model="authUser.login" placeholder="Логин (3-15, A-z, 0-9)" :class="{ok: loginOk, error: !loginOk}"></input>
                    <input v-model="authUser.password" placeholder="Пароль (3-64)" :class="{ok: passwordOk, error: !passwordOk}" type="password"></input>
                    <button @click="authUser.shouldCreate = !authUser.shouldCreate">{{authUser.shouldCreate ? 'Новый' : 'Старый'}}</button>
                    <button @click="auth" :disabled="!loginOk || !passwordOk">{{authUser.shouldCreate ? 'Регистрация' : 'Авторизация'}}</button>
                </div>
            </div>
            <div class="chatControls">
                <input v-model="chat.message" placeholder="Сообщение" v-on:keyup.enter="sendMessage" class="chatInput">
                <button v-on:click="sendMessage">Отправить</button>
            </div>
            <transition-group name="message" class="chatMessages" tag="div">
                <div v-for="message of chat.messages" v-bind:key="message.id" class="message-item">
                    <interactive-message v-bind:message="message"></interactive-message>
                </div>
            </transition-group>
        </div>
        <div id="app"></div>
        <div class="mapElement" :class="{easierBackground: settings.easierMapBackground, animated: animatedPathsList.size > 0}">
            <svg :style="{filter: `brightness(${settings.brightness}%)`}">
                <defs>
                    <filter id="userHoverFilter" color-interpolation-filters="linearRGB">
                        <feColorMatrix type="hueRotate" values="45" in="SourceGraphic" result="colormatrix" />
                    </filter>
                    <filter id="animationFilter" color-interpolation-filters="linearRGB">
                        <feColorMatrix type="hueRotate" values="45" in="SourceGraphic" result="colormatrix" />
                    </filter>
                    <pattern v-for="pattern in patterns" :id="pattern.id" patternUnits="userSpaceOnUse" width="16" height="16">
                        <rect height="16" width="16" v-bind:fill="pattern.color2"></rect>
                        <path d="M-8,16 l20,-20 M4,20 l16,-16" v-bind:stroke="pattern.color1" stroke-width="6" />
                        <!--<polygon points="0,4 4,0 12,0 0,12" v-bind:fill="pattern.color1"></polygon>
                        <polygon points="4,16 16,4 16,12 12,16" v-bind:fill="pattern.color1"></polygon>-->
                    </pattern>
                </defs>
                <g>
                    <transition-group tag="g" name="region" v-for="fill in fills" :filter="tooltip.user === +fill.owner ? 'url(#userHoverFilter)' : false" :stroke="tooltip.user === +fill.owner ? 'black' : false" :fill="fill.fill">
                        <path v-for="path in fill.paths" :key="path.code" :filter="animatedPathsList.has(path.code) ? 'url(#animationFilter)' : false" :d="path.path" :code="path.code" :stroke="path.code === map.target ? 'black' : ''"
                            @mouseenter="mouseEnter" @mouseleave="mouseLeave" @mousemove="mouseMove" @click="selectTarget">
                        </path>
                    </transition-group>
                </g>
            </svg>
        </div>
    </div>


    <script src="bundle.js"></script>
    <script src="https://code.iconify.design/1/1.0.2/iconify.min.js"></script>
</body>

</html>