.removeMessage {
    cursor: pointer;
    color: @errorColor;
}

.chatTime {
    float: right;
}

.chatControls > * {
    width: 100%;
}

.chatMessages {
    //background: @fadedColor;
    @media @desktop {
        overflow-y: auto;
    }
}

.message-item {
    word-break: break-word;
    transition: all 1s;
}

.message-enter,
.message-leave-to {
    transform: translateX(10vw);
    opacity: 0;
}

.message-enter-active {
    transition: all 0.3s ease;
}

.message-leave-active {
    transition: all 0.3s ease;
}