* {
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: 0;
}

input {
    background: @secondaryColor;
    color: @textColor;
    border: 1px solid transparent;
    padding: 0.5em 1em;
    font-size: 1em;
    margin: 0.1em;
}
@import 'sliders.less';

button {
    background: @secondaryColor;
    color: @textColor;
    border: 1px solid transparent;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1em;
    margin: 0.1em;
}

button:disabled {
    cursor: auto;
    background: @fadedColor;
}

button.small {
    padding: 0.1em;
}

.rollButton {
    background: @accentColor;
    color: @contrastTextColor;
    width: 100%;
    height: 5em;
}

.hideMenuButton {
    width: 100%;
    margin: 0;
    border-radius: 0;
}

.alertify-notifier .ajs-message {
    border: 0;
}

.container {
    display: grid;
    @media @desktop {
        grid-template-areas: @barSide;
    }
    @media @phone {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        grid-template-areas: "map" "bar";
    }
}

.bar {
    grid-area: bar;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 97vw;
    padding: 0 8px;
    @media @desktop {
        width: 30vw;
    }
}

.menu {
    flex: 0 0 auto;
}

.chatControls {
    flex: 0 1 auto;
}

.chatMessages {
    flex: 1 1 auto;
}

.popUpMenu > .opaqueFiller {
    @media @desktop {
        width: 100vw;
        height: 100vw;
        position: fixed;
        background: @opaqueFiller;
        z-index: 98;
    }
}

.popUpMenu > *:not(.opaqueFiller) {
    position: fixed;
    overflow: auto;
    text-align: center;
    z-index: 99;
    background: @mainColor;
    border: 2px solid @accentColor;
    border-radius: 0.25em;
    @media @phone {
        width: 100vw;
        height: 100%;
    }
    @media @desktop {
        top: 10vh;
        left: 0;
        right: 0;
        width: 50vw;
        max-height: 80vh;
        margin: auto;
        overflow-x: hidden;
    }
}

.popUpMenu > .clanMenu,
.popUpMenu > .settingsMenu,
.popUpMenu > .userMenu {
    overflow: visible;
}

.mapElement {
    overflow: hidden;
    grid-area: map;
    @media @phone {
        width: 100vw;
        height: 70vh;
    }
    @media @desktop {
        width: 70vw;
        height: 100vh;
    }
}

.tooltip {
    @media @desktop {
        max-width: 20vw;
    }
    @media @phone {
        max-width: 70vw;
    }
    border: 2px solid @accentColor;
    border-radius: 0.25em;
    padding: 0.5em;
    z-index: 101;
    position: fixed;
    pointer-events: none;
    background: @secondaryColor;
    color: @textColor;
    text-align: center;
}

.error {
    color: red;
}

.ok {
    color: green;
}

.verte__menu {
    background: @tertiaryColor!important;
}

.verte__controller .slider {
    display: none;
}

.verte__controller .verte__recent {
    display: none;
}

.verte__controller .verte__submit {
    display: none;
}

.verte__guide {
    width: initial !important;
    height: initial !important;
    padding: 0;
}

::-webkit-scrollbar {
    -webkit-border-radius: 100px;
    background-color: rgba(0,0,0,0);
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 100px;
    background: rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,0.61);
}

::-webkit-scrollbar-thumb:horizontal {
    min-width: 10px;
}

::-webkit-scrollbar-thumb:vertical {
    min-height: 10px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::selection {
    background: #c66b6f;
}
@import 'items.less';
@import 'clans.less';
@import 'chat.less';
@import 'users.less';
@import 'notifications.less';
@import 'map.less';