@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@phone: ~"(max-width: 1024px)";
@desktop: ~"(min-width: 1024px)";
@opaqueFiller: rgba(0, 0, 0, 0.8);

.mainTheme() {
    @import 'common.less';
}

.darkTheme() {
    @errorColor: #d65e60;
    @messageColor: #0B0B0B;
    @successColor: #58b46e;
    @extraColors: #A19BE3, #9BE3C0, #B4CC8C, #E3D19B, #E390D1;
    @mainColor: #373a3c;
    @secondaryColor: #222;
    @tertiaryColor: #333;
    @accentColor: #2a9485;
    @fadedColor: #2c2f30;
    @textColor: #aaa;
    @contrastTextColor: #ccc;
    color: @textColor;
    background: @mainColor;
}

.lightTheme() {
    @errorColor: #d65e60;
    @messageColor: #f4f4f4;
    @successColor: #58b46e;
    @extraColors: #1100CE, #00CE6B, #76BA00, #CE9B00, #CE00A1;
    @mainColor: #d1d7dc;
    @secondaryColor: #b1bbc1;
    @tertiaryColor: #acb1b5;
    @accentColor: #b438bb;
    @fadedColor: #a8b0b7;
    @textColor: #333;
    @contrastTextColor: #222;
    color: @textColor;
    background: @mainColor;
}

body {
    &.darkTheme {
        &.leftBar {
            @barSide: "bar map";
            .darkTheme();
            .mainTheme();
        }

        &.rightBar {
            @barSide: "map bar";
            .darkTheme();
            .mainTheme();
        }
    }

    &.lightTheme {
        &.leftBar {
            @barSide: "bar map";
            .lightTheme();
            .mainTheme();
        }

        &.rightBar {
            @barSide: "map bar";
            .lightTheme();
            .mainTheme();
        }
    }
    overflow: hidden;
    margin: 0;
    font-size: 20px;
}