.inventoryItem {
    margin: 0.1em;
}

.inventoryItems {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.itemIcon {
    height: 2em;
    image-rendering: pixelated;
}
@rarityColors: #6c6c6c, #f6f6f6, #8c87c4, #a8eaa4, #deb998, #e19696, #ee9aef, #b996d4, #98e427, #eeef44, #1bbcec, #bc174a, #963ec4;

.itemColors-loop (@i) when (@i < 12) {
    .item-rarity-@{i} {
        color: extract(@rarityColors, @i + 2);
    }
    .itemColors-loop(@i + 1);
}
.itemColors-loop (-1);

.item-rarity-12 {
    color: #ff0000;
    animation: gradient 4s steps(36) infinite;
}

.item-rarity-13 {
    color: #dea62c;
}

.item-rarity-14 {
    animation: glowingRed 2s steps(18) infinite;
}
@keyframes gradient {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}
@keyframes glowingRed {
    0% {
        color: #FF0000;
    }

    50% {
        color: initial;
    }

    100% {
        color: #FF0000;
    }
}