.region-enter-active,
.region-leave-active {
    transition: opacity 0.5s;
}
/* .fade-leave-active до версии 2.1.8 */
.region-enter,
.region-leave-to {
    opacity: 0;
}

.giveLand input {
    width: 6em;
}

.interactiveLand {
    cursor: pointer;
}

.mapElement svg {
    width: 100%;
    height: 100%;
}

path[code] {
    cursor: pointer;
    transform-origin: 60% 22%;
    transition: transform 2s;

    &.animated {
        animation: scaleAnimation 0.5s ease;
    }
}
@keyframes scaleAnimation {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.mapElement {
    &.easierBackground {
        background: repeating-linear-gradient(-45deg, @secondaryColor, @secondaryColor 5px, @tertiaryColor 5px, @tertiaryColor 10px);

        &.animated {
            animation: mapAnimation 0.4s ease;
        }
    }

    &:not(.easierBackground) {
        background: linear-gradient(90deg, @accentColor, @tertiaryColor);
        background-size: 400% 400%;
        animation: mapGradient 5s ease infinite;

        &.animated {
            animation: mapGradient 5s ease infinite, mapAnimation 0.4s ease;
        }
    }
}
@keyframes mapAnimation {
    0% {
        filter: brightness(1.2);
    }

    100% {
        filter: brightness(1);
    }
}
@keyframes mapGradient {
    0% {
        background-position: 91% 0;
    }

    50% {
        background-position: 10% 100%;
    }

    100% {
        background-position: 91% 0;
    }
}