.alertify-notifier .ajs-message.ajs-error,
.notification-error {
    color: @contrastTextColor;
    background: @errorColor;
}

.alertify-notifier .ajs-message,
.notification-message {
    color: @contrastTextColor;
    background: @messageColor;
}

.alertify-notifier .ajs-message.ajs-success,
.notification-success {
    color: @contrastTextColor;
    background: @successColor;
}

.notification {
    color: @contrastTextColor;
    padding: 0.2em;
    transition: all 1s;
}

.notification-enter,
.notification-leave-to {
    transform: translateX(10vw);
    opacity: 0;
}

.notification-enter-active {
    transition: all 0.3s ease;
}

.notification-leave-active {
    transition: all 0.3s ease;
}