input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 3.8px 0;
    background: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0.7px 0.7px 5.5px @textColor;
    background: @textColor;
    border-radius: 1.3px;
    border: 0.2px solid @textColor;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.2px 1.2px 3px @textColor;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: @accentColor;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: @contrastTextColor;
}