.userColorsLoop (@i) when (@i < 5) {
    .user-color-@{i} {
        color: extract(@extraColors, @i + 1);
    }
    .userColorsLoop(@i + 1);
}
.userColorsLoop (0);

.user {
    cursor: pointer;
}

.auth > * {
    width: 48%;
    display: inline-block;
}

.online {
    overflow-x: auto;
    white-space: nowrap;
    @media @phone {
        max-width: 100vw;
    }
}

.user-moderator {
    color: @errorColor;
}

.user-admin {
    color: @messageColor;
    //animation: gradient 4s steps(240) infinite;
}